.background {
    position: relative;
    width: 100vw;
    background: #e9e4f0;
    background: -webkit-linear-gradient(
            to bottom,
            #eeeefc,
            #e9e4f0
        )
        fixed;
    background: linear-gradient(to bottom, #eeeefc, #ded5eb)
        fixed;
}

.background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.ibb.co/q1qM8H2/d5nhuuq-79a016a3-c066-4ac1-9d1a-6ff2b79f7569.png');
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.heading {
    width: 100%;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    top: 0;
    position: relative;
}

@media (min-width: 320px) {
    .background {
        height: 0;
    }

    .heading {
        border-radius: 0;
        height: 70px;
        width: 100vw;
        box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.1);
    }

    .heading:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: #e9e4f0;
        background: -webkit-linear-gradient(
                to bottom,
                #eeeefc,
                #e9e4f0
            )
            fixed;
        background: linear-gradient(
                to bottom,
                #eeeefc,
                #ded5eb
            )
            fixed;
    }
}

@media (min-width: 576px) {
    .background {
        height: 75px;
    }

    .heading {
        border-radius: 0;
        height: 70px;
        width: 100vw;
        transform: translateY(-50%);
        box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.1);
    }

    .heading:after {
        content: '';
        display: none;
    }
}

@media (min-width: 768px) {
    .background {
        height: 100px;
    }

    .heading {
        border-radius: 0;
        height: 70px;
        width: 100vw;
        transform: translateY(-50%);
        box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 992px) {
    .background {
        height: 200px;
    }

    .heading {
        border-radius: 10px;
        height: 80px;
        width: 100%;
        transform: translateY(-50%);
        box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.05);
    }

    .heading:after {
        content: '';
        display: none;
    }
}
