.div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    background: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    position: absolute;
    background-image: url('https://i.ibb.co/q1qM8H2/d5nhuuq-79a016a3-c066-4ac1-9d1a-6ff2b79f7569.png');
}

.image {
    width: 80%;
    max-width: 300px;
    margin-bottom: 50px;
}

.heading {
    font-size: 32px;
    color: #222b45;
    font-weight: 700;
    margin-bottom: 5px;
}

.desc {
    color: #7f8ba5;
    font-size: 16px;
    font-weight: 400;
}

.loading {
    display: inline-block;
}

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 white,
            0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
    }
}
