.card {
    border-radius: 10px;
    display: block;
    margin: 20px 10px;
    background: #fff;
    transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
    text-decoration: none;
    text-align: center;
    outline: 0;
    overflow: hidden;
    outline-style: none;
}

.container {
    padding: 10px 20px 20px;
}

.image {
    width: calc(100% - 10px);
    height: 125px;
    margin: 30px 5px 30px;
    object-fit: contain;
}

.id,
.name,
.types {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #8f9bb3;
    margin: 0;
}

.types {
    padding: 4px 10px;
    border: 1px solid #e4e9f2;
    margin: 10px 3px 0;
    font-weight: 500;
    font-size: 12px;
    border-radius: 20px;
}

.id {
    font-size: 16px;
    font-weight: 500;
    color: #222b45;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
}

.type-container {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
}

@media (min-width: 320px) {
    .card {
        width: calc(calc(100% / 2) - 40px);
    }
}

@media (min-width: 576px) {
    .card {
        width: calc(calc(100% / 2) - 40px);
    }
}

@media (min-width: 768px) {
    .card {
        width: calc(calc(100% / 3) - 40px);
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(calc(100% / 4) - 40px);
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(calc(100% / 5) - 40px);
    }

    .card:hover {
        box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.05);
    }
}
